
body {
    background-color:#F3F2F2;
    font-family: 'Open Sans', sans-serif;
    color: #69686D;
    margin:0px;
    padding:0%;
    position: relative;


    /* border: 1px dashed #48C0AA;
    border-radius: 15px; */
}

.row{
    padding-bottom: 5em;
}

nav{ 
    padding: 1%;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.195em;
    background-color: rgb(243, 242, 242, 0.9);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100000;

    /* border: 1px dashed #48C0AA;
    border-radius: 15px; */
}
.navContainer{
    display: none;
}
.navList{
    width: 50%;
    margin-left: auto;
    margin-right: 50px;
    float: right;
    padding: 0 auto;
    vertical-align:middle;
    cursor: pointer;
}


 .scroll nav{
    height: 30px !important;
}


.navbar{
    background-color:ghostwhite;
    color: indigo;
}

.navbar-text{
    color: khaki !important;
}

/* .navItem:hover{
    text-decoration: underline solid #FD636B 10px;
} */
.navItem{
    padding: 0px 10px 0px 10px;
    float:right;
}


h3{
    color: #FD636B;
    font-weight: 400;
    font-size: 18px;
    line-height: 148.19%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.inline-block{
    display: inline-block;
    vertical-align: top;
}

.logo{
    
    padding-top: 20px;
    padding-left: 30px;
    text-align: center;
}

#logo{
    width: 250px;  
}


p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 182.69%;
}

   
.intro {
    /* text-align: center; */
    padding: 5em;
    color: white;
    vertical-align: middle;
    align-content: center;
    scroll-padding: 2em;
    padding-bottom: 2em;
    height: 80vh;
    background-color: cadetblue;
    background-size: cover;
    /* background-position: center; */
  }

.icon-op{
    width: 100px;
}

#absolute{
    position: absolute;
}

.stages{
    text-align: center;
}

.row{
    padding-top: 7em;
}

